.DS_Store
*.gem
*.rbc
.bundle
.config
gems
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

*notes.*
*scratch.*

.rvmrc
.ruby-gemset
.ruby-version
Gemfile.lock

*.log

materials

demo.txt
